@mixin box($color, $radius, $bgColor) {
    background-color: $bgColor;
    border-radius: $radius;
    color: $color;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
  }

  @mixin hoverEffect($bgColor){
    &:hover{
      background-color: $bgColor;
      transition: background-color linear 150ms;
      color: black;
      cursor: pointer;
    }

  }