@import "variables";
@import "mixins";

h1 {
  background-color: $greenColor;
}

h2 {
  @include box(red, 1rem, $greenColor);
  @include hoverEffect(rgb(243, 243, 62));
}

h3 {
  @include box(white, 2rem, black);
  @include hoverEffect(rgb(0, 179, 255));
}

h4.operator-1 {
  font-size: $fontSize * 2;
}

h4.operator-2 {
  font-size: 3rem + 2rem;
}

h4.content {
  font-size: 3rem;
  @include query(900px) {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: red;
  }
}

h4.conditioning {
  @include validation("mahdi 1385");
}

.test {
  color: white;
  background-color: #000;
  cursor: pointer;
  &:hover {
    padding: 10px;
    //! it doesn't work!
    background-color: red;
  }
}

h4.inheritence {
  @extend .test;
  &:hover {
    background-color: blueviolet;
  }
}

//! for loop
// @for $item from 1 through 5{
//   .con-#{$item}{
//     background-color: royalblue;
//     color: #fff;
//     padding: 5px;
//     height: 20px * $item;
//   }
// }

// $counter: 5;
// $while ($counter > 0) {

//   .con-#{$counter} {
//     background-color: royalblue;
//     color: #fff;
//     padding: 5px;
//     height: 20px * $counter;
//   }

//   $counter: $counter - 1;
// }

// $item: 0;
// @while ($item < 6) {
//   .con-#{$item} {
//     background-color: royalblue;
//     color: #fff;
//     padding: 5px;
//     height: 20px * $item;
//   }
//   $item: $item + 1;
// }

@each $element, $color in (con-1: red, con-2: green, con-3: blue) {
  .#{$element} {
    color: $color;
  }
}
