$greenColor: #22ff22;

@mixin box($color, $radius, $bgColor) {
  background-color: $bgColor;
  border-radius: $radius;
  color: $color;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

h1 {
  background-color: $greenColor;
}

h2 {
  @include box(red, 1rem, $greenColor);
}

h3 {
  @include box(white, 2rem, black);
}
