@import 'variables';
@import 'mixins';

h1 {
  background-color: $greenColor;
}

h2 {
  @include box(red, 1rem, $greenColor);
  @include hoverEffect(rgb(243, 243, 62))
}

h3 {
  @include box(white, 2rem, black);
  @include hoverEffect(rgb(0, 179, 255))
}

h4.operator-1 {
  font-size: $fontSize * 2;
}

h4.operator-2 {
  font-size: 3rem + 2rem;
}

h4.content{
  @include query(900px){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
  }
  font-size: 3rem;
}

h4.conditioning{
  @include validation('mahdi 1385');
}