@import "mixins";
@import "variables";

html {
  font-size: 10px;
}

* {
  @include removeDefaults();
}

body {
  font-size: 1.6rem;
  background-color: $bgColor;
}

header {
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.header-left {
  display: flex;
  align-items: center;
  .header-left__text {
    @include textStyles(3rem, bold, $secondaryColor);
  }
}

.header-right {
  display: flex;
  align-items: center;
  .header-right__icon {
    width: 5rem;
    border-radius: 100%;
  }
}

.header-right-nav {
  margin-right: 6rem;
  display: flex;
  gap: 0 2rem;
  .header-right-nav__item {
    text-decoration: none;
    transition: all ease-in 0.12s;
    &:hover {
      color: $textColor;
    }
    @include textStyles(2rem, 100, $secondaryColor);
  }
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  cursor: pointer;
  display: none;
  span {
    width: 2.5rem;
    height: 0.3rem;
    background-color: $secondaryColor;
    border-radius: 0.3rem;
  }
}

main {
  padding-top: 4rem;
  .main-top-container {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
  }
}

.main-left {
  padding: 4.5rem 2.5rem;
  background-color: $secondaryColor;
  display: flex;
  flex-direction: column;
  gap: 4.5rem 0;
  width: 25%;
  border-radius: 1rem;
  @include boxShadow;
  .main-left__item {
    background-color: $primaryColor;
    width: 100%;
    text-align: center;
    padding: 6rem 0;
    text-decoration: none;
    border-radius: 1rem;
    @include textStyles(2.5rem, 100, $secondaryColor);
    @include boxShadow;
  }
}

.main-right {
  background-color: $secondaryColor;
  padding: 15rem 0;
  width: 75%;
  margin-left: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem 0;
  align-items: center;
  @include boxShadow;
  .main-right__image {
    width: 25rem;
    border-radius: 1rem;
    @include boxShadow;
  }

  .main-right__title {
    @include textStyles(8rem, bold, $primaryColor);
  }

  .main-right__description {
    font-size: 4rem;
  }
}

.main-carts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 0 4rem;
  margin: 4rem 0;
}

.card {
  background-color: $secondaryColor;
  border-radius: 1rem;
  overflow: hidden;
  @include boxShadow;

  .card__image {
    width: 100%;
    margin-bottom: 1rem;
  }

  .card__title {
    padding: 0 2rem;
    @include textStyles(1.7rem, 100, $textColor);
  }

  .card__text {
    padding: 0 2rem;
    margin: 2rem 0;
    @include textStyles(1.4rem, 400, $primaryColor);
  }
}

//! Responsive

@include media(L) {
  main {
    padding-top: 4rem;
    .main-top-container {
      flex-direction: column-reverse;
    }
  }

  .main-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    .main-left__item {
      padding: 2rem 1rem;
      font-size: 2rem;
    }
  }

  .main-right {
    margin: 0 0 2rem 0;
    width: 100%;
    padding: 2rem;
    text-align: center;

    .main-right__image {
      width: 20rem;
    }

    .main-right__title {
      @include textStyles(5rem, bold, $primaryColor);
    }

    .main-right__description {
      font-size: 2.5rem;
    }
  }

  .main-carts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media(M) {
  .header-right-nav {
    display: none;
  }

  .header-right__icon {
    display: none;
  }

  .main-carts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media(S) {
  .main-left {
    display: flex;
    flex-direction: column;
  }

  .main-carts-container {
    grid-template-columns: 1fr;
  }
}
